---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import Collapsible from "../../components/Collapsible.astro";
import markdown from "../../components/markdown";

const works = (await getCollection("works"))
  .sort((a, b) => b.data.end.valueOf() - a.data.end.valueOf());

const formatOptions = { year: 'numeric', month: 'short' };
---

<MainLayout title="About | Tanat" description="About page">
  <div class="mt-10">
    <h1 class="text-4xl font-semibold">About Me</h1>
    <p class="mt-6 text-xl font-light leading-relaxed text-gray-200">
      I just recently finished my bachelor degree in Computer Engineering at
      Chiang Mai University. I'm interested in machine learning, quantum
      computers, compiler, and some web development and currently looking to do
      a Master's or Ph.D. degree on computer science related topics. Please feel
      free to contact me ✨.
    </p>
    <div class="mt-3 flex space-x-4 text-lg font-bold text-blue-400 underline">
      <a
        target="_blank"
        href="https://github.com/RiwEZ"
        class="hover:text-blue-600">Github</a
      >
      <a
        target="_blank"
        href="https://www.linkedin.com/in/tanat-tangun-46b38a201/"
        class="hover:text-blue-600">LinkedIn</a
      >
      <a href="mailto:ttangun1@gmail.com">ttangun1@gmail.com</a>
    </div>

    <h1 class="mt-10 text-2xl font-semibold">Some of my works/experiences</h1>
    <div class="mt-6 flex flex-col space-y-4">
      {
        works.map((work) => (
          <Collapsible>
            <div
              slot="header"
              class="flex justify-between rounded-t-md bg-black p-4 active:rounded-t-md"
            >
              <div>
                <h1 class="text-xl">{work.data.title}</h1>
                <h2 class="text-white/[.8]">
                  {work.data.start 
                  && work.data.start.toLocaleDateString('en-US', formatOptions) + ' - '}
                  {work.data.end.toLocaleDateString('en-US', formatOptions)}
                </h2>
                <div class="mt-2 flex flex-shrink space-x-2">
                  {work.data.tags.map((tag) => (
                    <div
                      class=`rounded-sm bg-gray-700 py-1 px-2 
                            ${work.data.tags.indexOf(tag) == 0 ? 'first-tag' : ''}`
                    >
                      {tag}
                    </div>
                  ))}
                </div>
              </div>
              <svg
                width="20"
                height="20"
                class="flex-shrink-0"
                viewBox="0 0 52 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line
                  x1="2.12132"
                  y1="2"
                  x2="26"
                  y2="25.8787"
                  stroke="white"
                  stroke-width="3"
                  stroke-linecap="round"
                />
                <line
                  x1="26"
                  y1="25.8787"
                  x2="49.8787"
                  y2="2"
                  stroke="white"
                  stroke-width="3"
                  stroke-linecap="round"
                />
              </svg>
            </div>
            <div slot="body" class="rounded-b-md bg-black p-4 pt-0 text-lg font-light">
              {work.data.links !== undefined &&
                <div class="mb-2 flex space-x-2">
                  {work.data.links.map((link) => (
                    <a
                      target="_blank"
                      href={link.href}
                      class="text-blue-400 underline underline-offset-1 hover:text-blue-600"
                      >{link.text}</a
                    >
                  ))}
                </div>
              }
              <div class="prose prose-zinc dark:prose-invert pt-1">
                <Fragment set:html={markdown.render(work.data.body)}/>
              </div>
            </div>
          </Collapsible>
        ))
      }
    </div>
  </div>
</MainLayout>

<style>
  .first-tag {
    @apply bg-indigo-800;
  }
</style>
