---
import Nav from "../components/Nav.astro";
import notbyaiSvg from "./not-by-ai-black.svg";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <link rel="icon" type="image" href="/TanatBlog/favicon.png" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Cloudflare Web Analytics -->
    <script
      is:inline
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "dd26b6747bd44540aec8e8599d583d72"}'></script>
    <!-- End Cloudflare Web Analytics -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      html,
      body {
        background-color: #151719;
        min-height: 100%;
      }
      body {
        font-family: "Inter", sans-serif;
        overflow-y: scroll;
      }
    </style>
  </head>
  <body>
    <div
      class="mx-auto mt-6 p-4 text-zinc-50 sm:max-w-3xl lg:p-2 3xl:max-w-7xl"
    >
      <Nav />
      <slot />
      <div class="flex justify-center items-center space-x-2 mt-8 mb-2">
        <p>( ͡° ͜ʖ ͡°)</p>
        <p>Tanat Tangun</p>
        <svg viewBox="0 0 72 72" width="32px" xmlns="http://www.w3.org/2000/svg"
          ><path d="m5 17h62v38h-62z" fill="#fff"></path><path
            d="m5 30h62v12h-62z"
            fill="#1e50a0"></path><path d="m5 50h62v5h-62z" fill="#d22f27"
          ></path><path d="m5 17h62v5h-62z" fill="#d22f27"></path><path
            d="m5 17h62v38h-62z"
            fill="none"
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"></path></svg
        >
      </div>
      <center class="mb-4">
        <a href="https://notbyai.fyi" target="_blank"
          ><img src={notbyaiSvg.src} /></a
        >
      </center>
    </div>
  </body>
</html>
